

<ion-content class="ion-padding">
<ion-segment value="dash" (ionChange)="onFilter($event)">
    <ion-segment-button value="dash">Dashboard</ion-segment-button>
    <ion-segment-button value="all">Home</ion-segment-button>
</ion-segment>

 <h1>Dashboard Content</h1>
</ion-content>
