<ion-app>
  <ion-menu side="end" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          NSBM-Hub
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-menu-toggle>
          <ion-item (click)="onLogingout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/tabs/t1/Dashboard/notices">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Notices-test</ion-label>
          </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/t1/Dashboard/news">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>News-test</ion-label>
          </ion-item>
        </ion-menu-toggle>    

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
