<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/t1/Dashboard/notices"></ion-back-button>
    </ion-buttons>
    <ion-title>Create new Notice</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateNotice()" [disabled]="!newNoticeform.valid"><ion-icon name="checkmark" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newNoticeform">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label >Title</ion-label>
            <ion-input formControlName="title" type="text" autocomplete autocorrect></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item >
            <ion-label position="floating">Description</ion-label>
            <ion-textarea formControlName="desc" rows="10"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!newNoticeform.get('desc').valid && newNoticeform.get('desc').touched">
        <ion-col size-md="6" offset-md="3">
          <p>Discription should be only 255 charactor long</p>
        </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col size-md="3" offset-md="3">
          <ion-item>
            <ion-label position="floating">Event Date</ion-label>
            <ion-datetime formControlName="dateSub" min="2019-03-04" max="2022-12-31"></ion-datetime>
          </ion-item>   
        </ion-col>
        <ion-col size-md="3" >
          <ion-item>
            <ion-label position="floating">Sumbit Date</ion-label>
            <ion-datetime formControlName="dateEvent" min="2019-03-04" max="2022-12-31"></ion-datetime>
          </ion-item>   
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </form>  
  
</ion-content>
