<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/t1/Dashboard/notices"></ion-back-button>
    </ion-buttons>
    <ion-title>Notice-Detail</ion-title>
    <ion-buttons slot="primary" *ngIf="editNoticeform.touched">
      <ion-button (click)="onEditNotice()" ><ion-icon name="checkmark" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="onEdit()" class="ion-margin" color="primary" >Edit</ion-button> -->
  <form [formGroup]="editNoticeform">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item> 
            <ion-label position="floating">Title</ion-label>
            <ion-input formControlName="title" type="text" autocomplete autocorrect></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item >
            <ion-label position="floating">Description</ion-label>
            <ion-textarea formControlName="desc" rows="10"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!editNoticeform.get('desc').valid && editNoticeform.get('desc').touched">
        <ion-col size-md="6" offset-md="3">
          <p>Discription should be only 255 charactor long</p>
        </ion-col> 
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
 